<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontId</key>
		<string>font0001</string>
		<key>fontName</key>
		<string>Arial</string>
		<key>fontSize</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>fontId</key>
		<string>font0002</string>
		<key>fontName</key>
		<string>Courier New</string>
		<key>fontSize</key>
		<integer>15</integer>
	</dict>
	<dict>
		<key>fontId</key>
		<string>font0003</string>
		<key>fontName</key>
		<string>Verdana</string>
		<key>fontSize</key>
		<integer>14</integer>
	</dict>
</array>
</plist>
